
body{
    background-color:black;
}
.navbar-brand{
    font-family: 'Nosifer';
    font-size: 25px;
    color: black;
}

#video{
    background-image:url("img/subway.gif");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.slider1 {
  padding-right: 50%;
}
.slider2{
  margin-left: 50%;
}
nav li {
  display: inline;
  margin: 0 1rem;
}
.navbar{
    background-color: whitesmoke;
}


/*Presentasion*/
header h1{
    color:whitesmoke;
    font-family: roboto;
    font-weight: 900;
    font-style: italic;
    text-shadow: 6px 6px #231f20;
    ;
}
header{
    color: whitesmoke;
    font-family: roboto;
}

/*Fin Presentacion*/

/*Portfolio*/
#Port h1{
    color: #ffe06c;
    padding: 50%;
    font-family: cairo;
    letter-spacing: 5px;
}
#slider1{
    padding-top: 30%;
    margin-left: 20%;
    
}
#slider2{
    padding-top: 10%;
    margin-left: -50%;
    
}

#portfolio{
    background-color: black;
}
.links{
    text-decoration: none;
}
/*fin portfolip*/
/*Habilidades*/
#Habilidades{
    background-image: url(img/matrix.gif);
    background-size: cover;
}



/*Testimonios*/
#Testimonios{

}

/*Fin Testimonios*/

/*Contacto*/
#Contactos{
    background-color: black;
}
#Icont{
    transition:  0,8s ;
    color: whitesmoke;
}
#Icont :hover{
    transform: scale(1.4);
   
}
/*Fin Contacto/


/*footer*/
footer{
    background-color: whitesmoke;
    font-family: 'Libre Barcode 39 Text';
}
/*Fin footer*/
/*231f20*/
/*TITULOS*/
h2{
    color: #ffe06c;
    font-family: cairo;
    letter-spacing: 5px;

}